<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Password Reset</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">



            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                     aria-describedby="emailHelp" placeholder="Enter email">
              <div *ngIf="submitted && passwordResetForm.controls.email.errors" class="error">
                <small class="form-text text-warning" *ngIf="passwordResetForm.controls.email.errors.required">Your
                  email
                  is
                  required!
                </small>
              </div>
            </div>

            <div style="display: flex;" class="mt-2">
              <button type="submit" class="btn btn-success float-right">Reset Password</button>
              <button type="button" style="margin-left: 10px;" routerLink="/login"
                      class="btn btn-secondary float-right ">Back</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>





