<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Password Reset</h3>
          <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/login">
            ← Back to Login Page
          </button>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">

            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail"
                     aria-describedby="emailHelp" placeholder="Enter email">
              <div *ngIf="submitted && passwordResetForm.controls.email.errors" class="error">
                <small class="form-text text-warning" *ngIf="passwordResetForm.controls.email.errors.required">Your
                  email
                  is
                  required!
                </small>
              </div>
            </div>

            <div class="mt-4 text-center">
              <button
                type="submit"
                class="btn btn-success float-right"
                [disabled]="passwordResetForm.invalid || isSubmitting"
                data-bs-toggle="modal"
                data-bs-target="#email-sent">
                Reset Password
              </button>
            </div>

          </form>

          <app-email-sent
            id="email-sent">
          </app-email-sent>
        </div>
      </div>
    </div>
  </div>
</div>





