.profile {
  background-color: #D9D9D9;
  color: #000000;
  margin-left: 5px;
  height: auto;
}

.search {
  background-color: #1999CF;
  color: #000000;
  margin-left: 5px;
  height: auto;
}

.admin {
  background-color: #19CF62;
  color: #000000;
  margin-left: 5px;
  height: auto;
}

