<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> {{ errorMessage }}
  <button type="button" class="close" (click)="vanishError()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container mt-4" *ngIf="message">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="modal-title">{{ message.title }}</h2>
    <button class="btn btn-outline-secondary" [routerLink]="['/news']">
      ← Back to News Page
    </button>
  </div>
  <hr>
  <h6 class="text-muted">
    {{ message.publishedAt | date: 'mediumDate' }}
    {{ message.publishedAt | date: 'shortTime' }}
  </h6>

  <p>{{ message.text }}</p>

  <div class="mt-4">
    <div class="mt-4">
      <div *ngIf="message.images?.length > 0;">
        <h5>Images</h5>
        <div class="d-flex flex-wrap gap-3">
          <img *ngFor="let img of message.images"
               [src]="getImageUrl(img.id)"
               class="img-fluid"
               style="max-width: 800px; max-height: 40vh; width: auto; height: auto;">
        </div>
      </div>
    </div>
</div>
</div>
