<div class="mt-4 container">
<div class="row">

      <h2 class="modal-title">Admin</h2>
      <hr>


    <div class="middle">

      <div class="user">
        <span> User-Management: </span>
        <button class="btn buttons">Create User</button>
        <button class="btn buttons" routerLink = "/manage-accounts">Revoke User</button>
        <button class="btn buttons">Block User</button>
        <button class="btn buttons">Reset Password</button>
      </div>
      <br>
      <button class="btn button">Create News</button>
      <br>
      <button class="btn button" routerLink="/create-event">Create Event</button>
      <br>
      <button class="btn button" routerLink="/create-location">Create Location</button>
      <br>
      <button class="btn button" routerLink="/create-artist">Create Artist</button>
      <br>
      <button class="btn button" routerLink="/create-show">Create Show</button>
      <br>
      <button class="btn button">Create Room</button>

    </div>
  </div>

