<div class="mt-4 container">
  <div class="row">

    <h2 class="modal-title">Admin</h2>
    <hr>

    <div class="middle">

      <div class="user">
        <button class="btn buttons" routerLink="/manage-accounts">User-Management</button>
      </div>
      <br>
      <button class="btn button">Create News</button>
      <br>
      <div class="events">
        <button class="btn buttons" routerLink="/create-event">Create Event</button>
        <button class="btn buttons" routerLink="/update-events">Update Events</button>
      </div>
      <br>
      <button class="btn button" routerLink="/create-location">Create Location</button>
      <br>
      <button class="btn button" routerLink="/create-artist">Create Artist</button>
      <br>
      <button class="btn button" routerLink="/create-show">Create Show</button>
      <br>
      <button class="btn button" routerLink="/create-room">Create Room</button>

    </div>
  </div>
</div>
