.stage {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.sector-container {
  margin-bottom: 20px;
}

.standingSector {
  background-color: orange;
  height: 50px;
  width: 100px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th, td {
  padding: 4px;
}

.seat {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.seat.selected {
  border: 2px solid black ;
}

.seat.empty {
  background-color: transparent;
  border: none;
  cursor: default;
}

.blue-sector {
  background-color: #3498db;
}

.yellow-sector {
  background-color: #f1c40f;
}

.green-sector {
  background-color: #2ecc71;
}

.seat-layout {
  flex-grow: 1;
}

.info-box {
  width: 200px;
  height: 400px;
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.info-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.add-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto 1rem auto;
  position: relative;
}

.plus-icon {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  line-height: 1;
}

.seatText {
  font-size: 25px;
}
