<div *ngIf="room" class="mt-4 container">

  <div class="row">
    <h2 class="modal-title"> Room {{ room.name }}</h2>
    <hr>
  </div>

  <div class="stage">STAGE</div>
  <hr>

  <div style="display: flex; align-items: flex-start; gap: 2rem;">
    <div class="seat-layout">
      <table>
        <thead>
        <tr>
          <th></th>
          <th *ngFor="let col of globalColumns"> {{ toColumnLetter(col) }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let sector of seatedSectors; let i = index">
          <ng-container *ngIf="asSeatedSector(sector) as seatedSector">
            <tr
              *ngFor="let row of getMaxRows(seatedSector)">
              <th>{{ row + getRowOffset(i) }}</th>
              <td *ngFor="let col of globalColumns"
                  [ngClass]="getSectorColorClass(seatedSector)"
                  (click)="onSectorClick(seatedSector)">
                <button
                  class="seat"
                  *ngIf="isSeat(seatedSector, row, col)"
                  [ngClass]="{ 'selected': isSelected(seatedSector, row, col) }"
                  (click)="onSeatClick(seatedSector, row, col); $event.stopPropagation()">
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>

      <table>

        <ng-container *ngFor="let sector of standingSectors; let i = index">
          <ng-container *ngIf="asStandingSector(sector) as standingSector">
            <tr>
              <button
                class="standingSector"
                (click)="onSectorClick(standingSector)">
                {{ standingSector.capacity }}
              </button>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>


    <div class="info-box" style="text-align: center; font-weight: bold">
      <ng-container *ngIf="!selectedSeat; else seatInfo">
        <br/><br/><br/><br/>
        <button class="add-button" (click)="addSector()">
          <span class="plus-icon">+</span>
        </button>
        <div class="info-label">Add Sector</div>
      </ng-container>

      <ng-template #seatInfo>
        <br/><br/><br/><br/>

        <p class="seatText">Seat: {{ this.globalRow }}{{ toColumnLetter(selectedSeat.columnNumber) }}<br/><br/>
          <button class="btn btn-danger" (click)="deleteSeat()">
            <i class="bi bi-trash"></i> Delete
          </button>
          <br>
          <button class="btn btn-success mt-4" type="submit" (click)="unClickSeat()">Done</button>
        </p>
      </ng-template>
    </div>
  </div>

  <div>
    <button class="btn btn-success mt-4" type="submit" (click)="edit()">Done</button>
  </div>
</div>

