<div *ngIf="room" class="mt-4 container">

  <div class="row">
    <h2 class="modal-title"> Room {{ room.name }}</h2>
    <hr>
  </div>

  <div class="stage">STAGE</div>
  <hr>

  <div style="text-align:center; display: flex; align-items: flex-start">
    <div class="seat-layout" (click)="resetSector()">
      <table>
        <thead>
        <tr>
          <th></th>
          <th *ngFor="let col of globalColumns">
            <div class="header-letter">{{ toColumnLetter(col) }}</div>
          </th>
        </tr>
        </thead>

        <ng-container *ngFor="let sector of seatedSectors; let i = index" class="sector">
          <tbody [ngClass]="{ 'sector': true, 'selected': isSelectedSector(sector) }">
          <ng-container *ngIf="asSeatedSector(sector) as seatedSector">
            <tr
              *ngFor="let row of getMaxRows(seatedSector)">
              <th>
                <div style="margin-top:4px">
                  {{ row + getRowOffset(i) }}
                </div>
              </th>
              <td *ngFor="let col of globalColumns"
                  [ngClass]="getSectorColorClass(seatedSector)"
                  (click)="onSectorClick(seatedSector); $event.stopPropagation()">
                <button
                  class="seat"
                  *ngIf="isSeat(seatedSector, row, col)"
                  [ngClass]="{ 'selected': isSelected(seatedSector, row, col) }"
                  (click)="onSeatClick(seatedSector, row, col); $event.stopPropagation()">
                </button>
              </td>
          </ng-container>
          </tbody>
        </ng-container>
      </table>

      <table>

        <ng-container *ngFor="let sector of standingSectors; let i = index">
          <ng-container *ngIf="asStandingSector(sector) as standingSector">
            <tr>
              <button
                class="standingSector"
                (click)="onStandingSectorClick(standingSector); $event.stopPropagation()">
                {{ standingSector.capacity }}
              </button>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>


    <div class="info-box" style="text-align: center; font-weight: bold">
      <ng-container *ngIf="!selectedSeat && !selectedSector">
        <br/><br/><br/><br/>
        <button class="add-button" (click)="addSector(); $event.stopPropagation()">
          <span class="plus-icon">+</span>
        </button>
        <div class="info-label">Add Sector</div>
      </ng-container>

      <ng-container *ngIf="!selectedSeat && selectedSector">
        <p class="sectorText">Sector: {{ this.selectedSector.id }}<br/><br/>
        <p class="sectorText">Type:  {{ this.selectedSector.type }} </p>
        <p class="sectorText">Amount Rows: {{this.rowsForSector}}</p>
        <p class="sectorText">Seats per Row: {{this.seatsForRow}} </p>
        <p class="sectorText">Sector Price: {{ this.selectedSector.price }} </p>
        <p>
          <button class="btn btn-danger" (click)="deleteSeat(); $event.stopPropagation()">
            <i class="bi bi-trash"></i> Delete
          </button>
          <br>
          <button class="btn btn-success mt-4" type="submit" (click)="unClickSeat(); $event.stopPropagation()">Done
          </button>
        </p>

      </ng-container>

      <ng-container *ngIf="selectedSeat">
        <br/><br/><br/><br/>
        <p class="seatText">Seat: {{ this.globalRow }}{{ toColumnLetter(selectedSeat.columnNumber) }}<br/><br/>
          <button class="btn btn-danger" (click)="deleteSeat(); $event.stopPropagation()">
            <i class="bi bi-trash"></i> Delete
          </button>
          <br>
          <button class="btn btn-success mt-4" type="submit" (click)="unClickSeat(); $event.stopPropagation()">Done
          </button>
        </p>
      </ng-container>
    </div>


  </div>

  <div>
    <button class="btn btn-success mt-4" type="submit" (click)="edit(); $event.stopPropagation()">Done</button>
  </div>
</div>

