.btn-pdf {
  background-color: #fbc02d;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 4px;
}

.pdf-button {
  background-color: #ffe08a;
  border: 1px solid #f9a825;
  color: #663c00;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.pdf-button:hover {
  background-color: #ffd54f;
}


.ticket-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th:last-child,
  td:last-child {
    width: auto;
    text-align: center;
    padding-right: 1rem;
  }

  th:nth-last-child(2),
  td:nth-last-child(2) {
    white-space: nowrap;
    text-align: center;
    padding-right: 0.5rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 1rem;
}


