<div *ngIf="order && order.tickets; else loading">
  <div class="mt-4 container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Order #{{ order.id }}</h2>
      <button class="btn btn-outline-secondary" [routerLink]="['/orders']">
        ← Back to My Orders
      </button>
    </div>
    <hr>



    <section class="order-meta">
      <p><strong>Date:</strong> {{ order.showDate | date: 'short' }}</p>
      <p><strong>Show:</strong> {{ order.showName }}</p>
      <p><strong>Location:</strong> {{ order.locationName }}</p>
      <p><strong>Total Price:</strong> {{ order.totalPrice | currency }}</p>
    </section>

    <section class="ticket-table">
      <table class="table w-100">
        <thead class="table-light">
        <tr>
          <th>Ticket</th>
          <th>Seat</th>
          <th>Status</th>
          <th>Price</th>
          <th>PDF-Ticket</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of order.tickets; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <ng-container *ngIf="ticket.rowNumber && ticket.seatLabel; else standing">
              {{ ticket.rowNumber }}{{ ticket.seatLabel }}
            </ng-container>
            <ng-template #standing>Standing</ng-template>
          </td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.price | currency }}</td>
          <td>
            <button class="pdf-button">Download PDF</button>
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="selected[ticket.id]"/>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="actions">
        <button class="btn btn-danger" (click)="openRefundConfirm()" [disabled]="!hasSelection()">
          Refund Selected
        </button>
      </div>
    </section>

    <div class="modal-overlay" *ngIf="showConfirmModal">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Refund Tickets</h5>
          <button class="close-button" (click)="cancelRefund()">×</button>
        </div>
        <div class="modal-body">
          <p>Do you really want to refund the selected tickets?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="confirmRefund()">
            Yes, refund selected
          </button>
          <button class="btn btn-primary" (click)="cancelRefund()">
            Exit, keep tickets
          </button>
        </div>
      </div>
    </div>


  </div>
</div>

<ng-template #loading>
  <p>Loading order details...</p>
</ng-template>
