<div class="mt-4 container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Edit Profile: {{ user.firstName }}</h2>
    <button class="btn btn-outline-secondary" (click)="onBackClick()">
      ← Back to My Profile Page
    </button>
  </div>
  <hr>

<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>

 <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="userFirstName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          First Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="text"
            id="userFirstName"
            name="userFirstName"
            placeholder="First Name"
            class="form-control"
            [class]="dynamicCssClassesForInput(userNameModel)"
            [(ngModel)]="user.firstName"
            #userNameModel="ngModel"
            required>
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="userLastName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Last Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="text"
            id="userLastName"
            name="userLastName"
            placeholder="Last Name"
            class="form-control"
            [class]="dynamicCssClassesForInput(userNameModel)"
            [(ngModel)]="user.lastName"
            #userNameModel="ngModel"
            required>
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
      </div>
    </div>


    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="userDateOfBirth" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="date"
            id="userDateOfBirth"
            name="userDateOfBirth"
            class="form-control"
            [class]="dynamicCssClassesForInput(DateOfBirthModel)"
            [(ngModel)]="userBirthDateText"
            #DateOfBirthModel="ngModel"
            required>
          <div class="invalid-feedback">
            Date of birth is required
          </div>
        </div>
      </div>
    </div>



  <div class="mb-2 col-lg-6">
     <div class="row">
       <label for="userSex" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
         Sex
       </label>
       <div class="col-md-10 col-lg-8">
         <select
           class="form-select"
           id="userSex"
           name="userSex"
           [(ngModel)]="user.sex"
           required>
           <option value="FEMALE">Female</option>
           <option value="MALE">Male</option>
           <option value="OTHER">Other</option>
         </select>
       </div>
     </div>
  </div>

  <div class="mb-2 col-lg-6">
     <div class="row">
       <label for="userEmail" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
         E-Mail
       </label>
       <div class="col-md-10 col-lg-8">
         <input
           type="text"
           id="userEmail"
           name="userEmail"
           placeholder="E-Mail"
           class="form-control"
           [class]="dynamicCssClassesForInput(userNameModel)"
           [(ngModel)]="user.email"
           #userNameModel="ngModel"
           required>
         <div class="invalid-feedback">
           E-Mail is required
         </div>
       </div>
     </div>
  </div>
 </div>

  <div class="row mb-2">
     <label for="street" class="col-form-label text-md-end text-muted col-md-2">
       Street
     </label>
     <div class="col-md-10">
       <textarea
         class="form-control"
         id="street"
         name="street"
         [(ngModel)]="user.street">
       </textarea>
     </div>
  </div>

  <div class="row mb-2">
    <label for="housenumber" class="col-form-label text-md-end text-muted col-md-2">
      House Number
    </label>
    <div class="col-md-10">
       <textarea
         class="form-control"
         id="housenumber"
         name="housenumber"
         [(ngModel)]="user.housenumber">
       </textarea>
    </div>
  </div>

  <div class="row mb-2">
    <label for="postalCode" class="col-form-label text-md-end text-muted col-md-2">
      Postal Code
    </label>
    <div class="col-md-10">
        <textarea
          class="form-control"
          id="postalCode"
          name="postalCode"
          [(ngModel)]="user.postalCode">
        </textarea>
    </div>
  </div>

  <div class="row mb-2">
    <label for="city" class="col-form-label text-md-end text-muted col-md-2">
      City
    </label>
    <div class="col-md-10">
       <textarea
         class="form-control"
         id="city"
         name="city"
         [(ngModel)]="user.city">
       </textarea>
    </div>
  </div>

  <div class="row mb-2">
    <label for="country" class="col-form-label text-md-end text-muted col-md-2">
      Country
    </label>
    <div class="col-md-10">
       <textarea
         class="form-control"
         id="country"
         name="country"
         [(ngModel)]="user.country">
       </textarea>
    </div>
  </div>


 <div class="mt-4 text-center">
   <button
     class="btn btn-success"
     [disabled]="!form.valid"
     type="submit">
     {{ submitButtonText }}
   </button>
 </div>

</form>
  <div *ngIf="showConfirm">
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show d-block" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center border-0">
            <h5 class="modal-title text-center fw-bold mb-0">
              Confirm Exit
            </h5>
          </div>
          <div class="modal-body text-center py-2">
            <p class="mb-1">
              If you exit this page, your changes will not be saved.
            </p>
          </div>
          <div class="modal-footer justify-content-center pt-1 pb-2 border-0">
            <button type="button" class="btn btn-success me-2" (click)="stay()">Stay on Page</button>
            <button type="button" class="btn btn-danger" (click)="exit()">Exit Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

