<div class="mt-4 container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Create Event</h2>
    <button class="btn btn-outline-secondary" [routerLink]="['/admin']">
      ← Back to Admin Page
    </button>
  </div>
  <hr>

  <form #eventForm="ngForm" class="tab-box" (ngSubmit)="createEvent()" novalidate>

    <div class="form-group">
      <label for="eventName">Event Name <span class="text-danger">*</span></label>
      <input
        id="eventName"
        [(ngModel)]="event.name"
        name="eventName"
        required
        class="form-control"
        #eventName="ngModel"/>
      <div *ngIf="eventName.invalid && eventName.touched" class="text-danger">
        Event name is required.
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="eventDescription">Description <span class="text-danger">*</span></label>
      <textarea
        id="eventDescription"
        [(ngModel)]="event.description"
        name="eventDescription"
        required
        rows="3"
        class="form-control"
        #eventDescription="ngModel"></textarea>
      <div *ngIf="eventDescription.invalid && eventDescription.touched" class="text-danger">
        Description is required.
      </div>
    </div>

    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label for="eventDateTime">Start Date &amp; Time <span class="text-danger">*</span></label>
        <input
          id="eventDateTime"
          type="datetime-local"
          class="form-control"
          name="eventDateTime"
          required
          placeholder="2025-06-01T20:00"
          pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}"
          [(ngModel)]="event.dateTime"
          #eventDateTime="ngModel"/>
        <div *ngIf="eventDateTime.invalid && eventDateTime.touched" class="text-danger">
          Start date &amp; time is required.
        </div>
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="eventDuration">Duration (minutes) <span class="text-danger">*</span></label>
      <input id="eventDuration"
             name="duration"
             type="number"
             class="form-control"
             [(ngModel)]="event.duration"
             required
             min="10"
             max="10000"
             placeholder="10min–10000min"
             title="Duration in minutes"
             (blur)="validateDuration()"/>
    </div>

    <div class="form-group mt-3">
      <label for="eventCategory">Category <span class="text-danger">*</span></label>
      <select
        id="eventCategory"
        [(ngModel)]="event.category"
        name="eventCategory"
        required
        class="form-control"
        #eventCategory="ngModel">
        <option [ngValue]="null" disabled>Select category</option>
        <option *ngFor="let option of eventCategoryOptions" [value]="option.value">{{ option.label }}</option>
      </select>
      <div *ngIf="eventCategory.invalid && eventCategory.touched" class="text-danger">
        Category is required.
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="eventLocation">Location <span class="text-danger">*</span></label>
      <select
        id="eventLocation"
        [(ngModel)]="event.locationId"
        name="eventLocation"
        required
        class="form-control"
        #eventLocation="ngModel">
        <option [ngValue]="null" disabled>Select Location</option>
        <option *ngFor="let location of locations" [ngValue]="location.id">{{ location?.name }}</option>
      </select>
      <div *ngIf="eventLocation.invalid && eventLocation.touched" class="text-danger">
        Location is required.
      </div>
    </div>


    <div class="mt-4 text-center">
      <button type="submit" class=" btn btn-success me-2" [disabled]="eventForm.invalid">Create Event</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>
