<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Update Event: {{ event.name }}</h2>
    <button class="btn btn-outline-secondary" [routerLink]="['/admin']">
      ← Back to Admin Page
    </button>
  </div>
  <hr>

  <form #f="ngForm" (ngSubmit)="save(f)" class="tab-box" novalidate>
    <div class="form-group mt-3">
      <label for="eventName">Event Name *</label>
      <input id="eventName" name="name" [(ngModel)]="event.name" required class="form-control"/>
    </div>

    <div class="form-group mt-3">
      <label for="eventDescription">Description *</label>
      <textarea id="eventDescription" name="description"
                [(ngModel)]="event.description" required class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group mt-3">
      <label for="eventDateTime">Start Date & Time *</label>
      <input id="eventDateTime" name="dateTime" type="datetime-local"
             [(ngModel)]="event.dateTime" required class="form-control"/>
    </div>

    <div class="form-group mt-3">
      <label for="eventDuration">Duration:</label>
      <input id="eventDuration"
             name="duration"
             type="number"
             class="form-control"
             [(ngModel)]="event.duration"
             required
             min="10"
             max="10000"
             placeholder="10min–10000min"
             title="Duration in minutes"
             (blur)="validateDuration()"/>
    </div>

    <div class="form-group mt-3">
      <label for="eventCategory">Category *</label>
      <select id="eventCategory" name="category"
              [(ngModel)]="event.category" required class="form-control">
        <option [ngValue]="null" disabled>Select</option>
        <option *ngFor="let opt of eventCategoryOptions" [ngValue]="opt.value">
          {{ opt.label }}
        </option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="eventLocation">Location *</label>
      <select id="eventLocation" name="locationId"
              [(ngModel)]="event.locationId" required class="form-control">
        <option [ngValue]="null" disabled>Select</option>
        <option *ngFor="let loc of locations" [ngValue]="loc.id">
          {{ loc.name }}
        </option>
      </select>
    </div>

    <div class="mt-4 text-center">
      <button type="submit" class="btn btn-success me-2" [disabled]="f.invalid || loading">Update Event</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
