<div
  class="buy-tickets-page d-flex"
  *ngIf="!loadingShow && !loadingRoom; else loadingTpl"
>
  <!-- Seat Map -->
  <div class="flex-grow-1 seat-map-container mb-3">
    <h3 class="mb-3">
      {{ show.name }}
      <small class="text-muted">– {{ show.date | date : "medium" }}</small>
    </h3>

    <app-seat-map

      [room]="room"
      [showId]="showId"
      [eventName]="show.name"
      [cartItems]="currentItems"
      (seatSelected)="onSeatOrStandingSelected($event)"
    ></app-seat-map>
  </div>

  <!-- Ticket Selection Sidebar -->
  <div class="ticket-sidebar d-flex flex-column">
    <div class="sidebar-header p-3 border-bottom">
      <h5>Your Ticket Selection</h5>
    </div>

    <div class="sidebar-body flex-grow-1 overflow-auto">
      <app-ticket-list
        [items]="currentItems"
        [room]="room"
        (remove)="onRemoveItem($event)"
      ></app-ticket-list>
    </div>

    <div class="sidebar-footer p-3 border-top">
      <button class="btn btn-secondary w-100 mb-2" (click)="openReservationConfirm()">
        Reserve Tickets
      </button>
      <button class="btn btn-success w-100" (click)="onBuyTickets()">
        Buy Tickets
      </button>
    </div>
  </div>
</div>

<ng-template #loadingTpl>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading…</span>
    </div>
  </div>
</ng-template>

<div *ngIf="showConfirmModal" class="custom-modal-backdrop">
  <div class="modal-backdrop fade show"></div>
  <div class="modal fade show d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center border-0">
          <h5 class="modal-title fw-bold mb-0"> Reserve Tickets</h5>
        </div>
        <div class="modal-body text-center py-2">
          <p class="mb-1">Please note: You must pick up your reserved tickets at least 30 minutes before the show starts.
            Otherwise, the reservation will expire automatically.</p>
        </div>
        <div class="modal-footer justify-content-center pt-1 pb-2 border-0">
          <button class="btn btn-success me-2" (click)="confirmReservation()">Yes, reserve tickets</button>
          <button class="btn btn-danger" (click)="cancelReservation()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

