<div *ngIf="room" class="mt-4 container">

  <div class="row">
    <h2 class="modal-title"> Room {{ room.name }}</h2>
    <hr>
  </div>

  <div class="stage">STAGE</div>
  <hr>


  <table>
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let col of globalColumns"> {{ toColumnLetter(col) }} </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let sector of seatedSectors; let i = index">
      <ng-container *ngIf="asSeatedSector(sector) as seatedSector">
        <tr
          *ngFor="let row of getMaxRows(seatedSector)"
          [ngClass]="getSectorColorClass(seatedSector)">
          <th>{{ row + getRowOffset(i) }}</th>
          <td *ngFor="let col of globalColumns">
            <button
              class="seat"
              *ngIf = "isSeat(seatedSector, row, col)"
              (click)="onSeatClick(seatedSector, row, col)">
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>




  <div class="actions">
    <button>Edit</button>
    <button routerLink=\event\:id\overview>Done</button>
  </div>


</div>
