<div *ngIf="room" class="mt-4 container">

  <div class="row">
    <h2 class="modal-title"> Room {{ room.name }}</h2>
    <hr>
  </div>

  <div class="stage">STAGE</div>
  <hr>

  <div class="legend mt-3 mb-4">
    <h5>Legend</h5>
    <div style="display: flex; flex-wrap: wrap; gap: 12px;">
      <div *ngFor="let price of uniquePrices">
        <div style="display: flex; align-items: center; gap: 8px;">
          <div [style.background-color]="priceColorMap[price]"
               style="width: 20px; height: 20px; border-radius: 4px; border: 1px solid #ccc;"></div>
          <span>{{ price }}€</span>
        </div>
      </div>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let col of globalColumns"> {{ toColumnLetter(col) }}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let sector of room?.sectors; let i = index">
      <ng-container *ngIf="asSeatedSector(sector) as seatedSector">
        <tr *ngFor="let row of getMaxRows(seatedSector)">
          <th>{{ row + getRowOffset(i) }}</th>
          <td *ngFor="let col of globalColumns"
              [ngStyle]="{ 'background-color': getSectorColorByPrice(seatedSector) }"
              (click)="onSectorClick(seatedSector)">
            <button
              class="seat"
              *ngIf="isSeat(seatedSector, row, col)"
              (click)="onSeatClick(seatedSector, row, col); $event.stopPropagation()">
            </button>
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="asStandingSector(sector) as standingSector">
        <tr>
          <td></td>
          <td [attr.colspan]="globalColumns.length"
              [ngStyle]="{ 'background-color': getSectorColorByPrice(standingSector) }">
            <button
              class="standingSector"
              (click)="onSectorClick(standingSector)">
              {{ standingSector.capacity }}
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>

  <div style="display: flex; justify-content: flex-end; gap: 12px; margin-top: 2rem;">
    <button *ngIf="isAdmin" class="btn btn-success mt-4" type="submit" [routerLink]="['/rooms', room.id, 'edit']">Edit</button>
    <button *ngIf="isAdmin" class="btn btn-success mt-4" type="submit" [routerLink]="['/admin']">Done</button>
  </div>

</div>
