.stage {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.sector-container {
  margin-bottom: 20px;
}

.standingSector {
  background-color: orange;
  height: 50px;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th, td {
  padding: 4px;
}

.seat {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.seat.empty {
  background-color: transparent;
  border: none;
  cursor: default;
}

.blue-sector {
  background-color: #3498db;
}

.yellow-sector {
  background-color: #f1c40f;
}

.green-sector {
  background-color: #2ecc71;
}
