<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formRegister"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>

        <div class="card-body">
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <div class="form-group">
              <label for="inputFirstName">First Name</label>
              <input type="text" name="firstName" class="form-control" id="inputFirstName"
                     aria-describedby="firstNameHelp" placeholder="Enter firstName">
              <div *ngIf="submitted && registerForm.controls.firstName.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.firstName.errors.required">Your
                  Firstname
                  is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputLastName">Last Name</label>
              <input type="text" name="lastName" class="form-control" id="inputLastName"
                     aria-describedby="lastNameHelp" placeholder="Enter lastName">
              <div *ngIf="submitted && registerForm.controls.lastName.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.lastName.errors.required">Your
                  Lastname
                  is
                  required!
                </small>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="inputBirthDate">Birth Date</label>
            <input type="date" id="inputBirthDate" name="DateOfBirth" class="form-control"
                   aria-describedby="BirthDateHelp" style="width: 250px">
            <div *ngIf="submitted && registerForm.controls.dateOfBirth.errors" class="error">
              <small class="form-text text-warning" *ngIf="registerForm.controls.dateOfBirth.errors.required">Your
                birthdate
                is
                required!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" name="email" class="form-control" id="inputEmail"
                   aria-describedby="emailHelp">
            <div *ngIf="submitted && registerForm.controls.email.errors" class="error">
              <small class="form-text text-warning" *ngIf="registerForm.controls.email.errors.required">Your email
                is
                required!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
            <div *ngIf="submitted && registerForm.controls.password.errors" class="error">
              <small class="form-text text-warning" *ngIf="registerForm.controls.password.errors.required">Your password
                is
                required!
              </small>
              <small class="form-text text-warning" *ngIf="registerForm.controls.password.errors.minlength">Your
                password
                must be at least 8 characters long!
              </small>
            </div>

            <div class="form-group">
              <label for="repeatPassword">Repeat Password</label>
              <input type="password" name="repeatPassword" class="form-control" id="repeatPassword">
              <div *ngIf="submitted && registerForm.controls.confirmPassword.errors" class="error">
                <small class="form-text text-warning" *ngIf="registerForm.controls.password.errors.required">Your
                  password
                  is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="registerForm.controls.confirmPassword.errors.minlength">Your
                  password
                  must be at least 8 characters long!
                </small>
              </div>

              <p> I accept <u>Terms and Conditions</u>
                <input type="checkbox" id="termsAndConditions" name="checkboxForTermsAndConditions"
                       value="true" style="margin: 10px;">
              </p>

              <button type="button" (click)="registerUser()" class="btn btn-success float-right">Register</button>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="registerd" (click)="goToPage()" id="registerSuccessful" class="registerSuccessful btn">
        <p> Your Account was created. </p>
        <p> You can now login with your Email & Password. </p>


      </div>
    </div>
  </div>
</div>
