
 <div class="mt-4 container">
   <div class="row">
     <h2 class="modal-title">My Profile: {{user.firstName}}</h2>
     <hr>
   </div>

 <button class="btn btn-info" [routerLink]="['/orders']" aria-label="User Orders">
    My Orders
 </button>

 <div style="margin-left: 7rem;">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">First Name</label>
        <p>{{ user.firstName }}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">Last Name</label>
        <p>{{ user.lastName }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">Date of Birth</label>
        <p>{{ user.dateOfBirth | date }}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">Sex</label>
        <p>   {{
            user.sex === 'FEMALE' ? 'Female' :
              user.sex === 'MALE' ? 'Male' :
                'Other'
          }}</p>
      </div>
    </div>
  </div>


    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">E-Mail</label>
        <p>{{ user.email || 'Edit to add E-Mail' }}</p>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">Street</label>
        <p>{{ user?.street || 'Edit to add Street' }}</p>
      </div>
    </div>
  </div>

   <div class="row">
     <div class="col-md-12">
       <div class="mb-2">
         <label class="col-form-label" style="font-weight: bold;">House Number</label>
         <p>{{ user?.housenumber || 'Edit to add House Number' }}</p>
       </div>
     </div>
   </div>

   <div class="row">
     <div class="col-md-12">
       <div class="mb-2">
         <label class="col-form-label" style="font-weight: bold;">Postal Code</label>
         <p>{{ user?.postalCode || 'Edit to add Postal Code' }}</p>
       </div>
     </div>
   </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-2">
        <label class="col-form-label" style="font-weight: bold;">City</label>
        <p>{{ user?.city || 'Edit to add City'}}</p>
      </div>
    </div>
  </div>

   <div class="row">
     <div class="col-md-12">
       <div class="mb-2">
         <label class="col-form-label" style="font-weight: bold;">Country</label>
         <p>{{ user?.country || 'Edit to add Country' }}</p>
       </div>
     </div>
   </div>


  <div class="mt-3 d-flex">

    <button class="btn btn-warning" [routerLink]="['/user-edit']" aria-label="Edit user">
      <i class="bi bi-pencil"></i> Edit
    </button>
    <span>&nbsp;</span>

    <button class="btn btn-danger" (click)="userForDeletion = user"
            data-bs-toggle="modal" data-bs-target="#delete-dialog" aria-label="Delete user">
      <i class="bi bi-trash"></i> Delete
    </button>

  </div>

  <app-confirm-delete-dialog
    id="delete-dialog"
    [hidden]="!userForDeletion"
    [deleteWhat]="userForDeletion?.lastName"
    (confirm)="deleteUser()">
  </app-confirm-delete-dialog>
 </div>
 </div>
