<div class="mt-4 container">
  <div class="row">
    <h2 class="modal-title">My Orders:</h2>
    <hr>
  </div>

<button class="btn profile" [routerLink]="['/user']" aria-label="Edit user"
        onmouseenter="this.style.backgroundColor='#4b2991'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='transparent'; this.style.color='#6f42c1';">
   My Profile
</button>

<button class="btn btn-outline-primary" (click)="exportTicket()">
    <i class="bi bi-file-earmark-pdf"></i> Export Ticket as PDF
</button>

<br><br>

<button class="btn btn-outline-success" (click)="exportInvoice()">
    <i class="bi bi-file-earmark-pdf"></i> Export Invoice as PDF
</button>

<br><br>

<button class="btn btn-outline-danger" (click)="exportStorno()">
    <i class="bi bi-file-earmark-pdf"></i> Export Cancellation Invoice as PDF
</button>

<br><br>


<button class="btn btn-outline-primary" (click)="exportTicket()">
    <i class="bi bi-file-earmark-pdf"></i> Export Ticket as PDF
</button>

<br><br>

<button class="btn btn-outline-success" (click)="exportInvoice()">
    <i class="bi bi-file-earmark-pdf"></i> Export Invoice as PDF
</button>

<br><br>

<button class="btn btn-outline-danger" (click)="exportStorno()">
    <i class="bi bi-file-earmark-pdf"></i> Export Cancellation Invoice as PDF
</button>

<br><br>

<button
        class="btn"
        [routerLink]="['/user']"
        aria-label="Edit user"
        style="
    border: 1px solid #6f42c1;
    color: #6f42c1;
    background-color: transparent;
    transition: all 0.2s ease;"
        onmouseenter="this.style.backgroundColor='#4b2991'; this.style.color='white';"
        onmouseleave="this.style.backgroundColor='transparent'; this.style.color='#6f42c1';"
>
    My Profile
</button>


